<div class="container">
  <div class="row">

    <div class="col-md-9">

      <div class="col-md-11 col-md-offset-1">
        <table class="table table-hover">

          <h3>
            Ideas List &nbsp
            <span class="pull-right">
              <%= link_to new_idea_path do %>
                <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
              <% end %>
            </span>
          </h3>

          <tbody>
            <% @ideas.each do |idea| %>
              <tr>
                <td class="col-md-2">

                  <span class="button" id="toppest_button">
                    <% if current_user %>
                      <% if !current_user.favorite_ideas.exists?(id: idea.id) %>
                        <%= link_to favorite_ideas_path(idea_id: idea), method: :post do %>
                          <i class="fa fa-heart-o" aria-hidden="true"></i>
                        <% end %>
                      <% else %>
                        <%= link_to favorite_idea_path(idea), method: :delete do %>
                          <i class="fa fa-heart" aria-hidden="true"></i>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= link_to favorite_ideas_path(idea_id: idea), method: :post do %>
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                      <% end %>
                    <% end %>
                    <%= idea.fans.count %>
                  </span>

                  <br>

                  <span class="button">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <a href="<%= url_for([idea, {only_path: false}]) %>#disqus_thread"></a>
                  </span>

                </td>

                <td class="col-md-10">

                  <h4>
                    <%= link_to idea.title, idea_path(idea) %>
                    <span class="pull-right created-by">
                      created by <%= idea.user.username %>
                    </span>
                  </h4>

                  <p>
                    <%= idea.description %>
                  </p>

                  <p>
                    <% unless idea.tag_list.count == 0 %>
                      <b>Tags: </b><%= raw idea.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %>
                    <% end %>
                  </p>
                </td>

              </tr>
            <% end %>
          </tbody>

        </table>
      </div>

    </div>

    <div class="col-md-3">
      <h4>Tag Cloud / <%= link_to "All", "/" %></h4>
      <div id="tag_cloud">
        <% tag_cloud Idea.tag_counts, %w[xs s m l xl] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<hr>
<%= render "structure/footer" %>
