<div class="container">
  <div class="row">

    <div class="col-md-8 col-md-offset-2">

      <div class="show-box">
        <div class="col-md-2">

          <div class="button" id="show_icons">
            <% if current_user %>
              <% if !current_user.favorite_ideas.exists?(id: @idea.id) %>
                <%= link_to favorite_ideas_path(idea_id: @idea), method: :post do %>
                  <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                <% end %>
              <% else %>
                <%= link_to favorite_idea_path(@idea), method: :delete do %>
                  <i class="fa fa-heart fa-lg" aria-hidden="true"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to favorite_ideas_path(idea_id: @idea), method: :post do %>
                <i class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
              <% end %>
            <% end %>
            <%= @idea.fans.count %>
          </div>

          <div id="share_button">
            <%= social_share_button_tag "#{@idea.title}: #{@idea.description}" %>
          </div>

        </div>

        <div class="col-md-10">

          <div>
            <h2 class="title">
              <%= @idea.title %>
            </h2>
          </div>
          <span>
            <%= @idea.description %>
          </span>

          <div class="pull-right">
            <% if @idea.user = current_user %>
              <%= link_to "edit", edit_idea_path(@idea) %>
              <%= link_to "delete", idea_path(@idea), method: :delete %>
            <% end %>
          </div>

          <hr>

          <span>
            <% unless @idea.tag_list.count == 0 %>
              <b>Tags: </b><%= raw @idea.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %>
            <% end %>
          </span>

        </div>

      </div>

      <div id="show-disqus">
        <%= render "disqus" %>
      </div>

    </div>
  </div>
</div>
