<!DOCTYPE html>
<html>
<head>
  <title> Idea Hunt 3.0 </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "structure/navbar" %>
<%= notice_message %>
<%= yield %>

<script id="dsq-count-scr" src="//ideahunt-3.disqus.com/count.js" async></script>
</body>
</html>
